@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Can directly apply colors : hard coded values for light and dark */
  .bg-color {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  /* Can use custom color defined in the tailwind.config.css file */
  .bg-text {
    @apply text-neutral-800 dark:text-neutral-200;
  }

  /* This is how you apply the border-color for both light and dark mode */
  .border-color {
    @apply border border-neutral-500 rounded-lg;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection{
  background-color: rgb(16 185 129/1);
  /* background-color: #f81ce5; */
  color: #fefefe;
}