@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Can directly apply colors : hard coded values for light and dark */
  .bg-color {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  /* Can use custom color defined in the tailwind.config.css file */
  .bg-text {
    @apply text-neutral-800 dark:text-neutral-200;
  }

  /* This is how you apply the border-color for both light and dark mode */
  .border-color {
    @apply border border-neutral-500 rounded-lg;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgb(16 185 129/1);
  /* background-color: #f81ce5; */
  color: #fefefe;
}

/* === removing default button style ===*/
.button {
  margin-top: 5px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  width: min-content;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: grey;
  --animation-color: #37ff8b;
  --fs-size: 1.5rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.scrolltotop {
  box-shadow: 0px 0px 5px 2px #2eabfb;
  transition: all 0.3s ease-in-out;
}

.scrolltotop:hover {
  box-shadow: 0px 0px 15px 4px #2eabfb;
}

.sidebar__drawer {
  background: url("../public/sidebar.jpg") no-repeat center center/cover;
}
